@media screen and (width: 600px) {
    body {
      color: red;
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    * {
   scroll-behavior: smooth;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  main {
    display: flex;
    flex: row;
  }
  
  nav {
    border-right: solid;
    margin-right: 50px;
    padding: 10 50 0 0;
  }
  
  nav {
      display: flex;
      flex-direction: column;
  }